<h1>Page to create new Dose</h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add dose", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to cocktails", cocktails_path %>